.App{
    background-color: azure;
}
.App ul li{
    margin: 1.2rem;
    list-style-type: none;
}
.App .deletebtn{
    background-color: red;
    position: relative;
    left: 30%;
}
.App h1{
    text-align: center;
    color: brown;
}